/logs
*.log
out
bin/
target/

#Eclipse
.classpath
.project
.settings/

#IntelliJ
.idea/
*.iml
*.iws

#Misc
tmp/**
tmp/**/*
*.swp
.loadpath
.metadata
.launch
.buildpath

#Mac OS
.DS_Store

#Project
/src/main/bin/